      <div id="global_header">
        <%= link_to root_path do %>
          <h1><span><small>NYC</small></span><span>Maritime Calendar</span></h1>
        <% end %>

        <div id="top_menu">
          <div id='app_menu'>
            <ul>
                <li class='<%=link_class[:events]%>'><%= link_to "Events", events_path %></li>
                <li class='<%=link_class[:venues]%>'><%= link_to "Venues", venues_path %></li>
            </ul>
          </div>
          <%= form_tag search_events_path, :method => :get do %>
            <label for="search_field">Search Events</label>
            <% if request.env["HTTP_USER_AGENT"] && request.env["HTTP_USER_AGENT"].include?("Safari") %>
              <input type="search" name="query" value="<%= @query %>" results="5" id="search_field">
            <% else %>
              <%= text_field_tag 'query', @query, id: 'search_field', tabindex: 1 %>
            <% end %>
          <% end -%>
        </div>
      </div>

      <% # Pick a subnav %>

      <%= render(:partial => 'calagator/events/subnav') if link_class[:events] == 'active' %>
      <%= render(:partial => 'calagator/venues/subnav') if link_class[:venues] == 'active' %>
      <%= render(:partial => 'calagator/sources/subnav') if link_class[:import] == 'active' %>

